.info{
    border:solid rgb(179, 179, 179) 1px;
    width:540px;
    background-color: white;
}

.error p{
    padding: 20px;
    background-color: rgb(206, 86, 70);
    width:500px;
    color: beige;
    font-weight:bold ;
}


